<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Created by Ozkhan Mamedov. It uses data from mapbox.com and weatherstack.com!</p>
        <img class="portrait" src="./img/image.jpeg" alt="portrait">
    </div>

    {{>footer}}
</body>
</html>
